<template>
    <div class="card">
        <div class="card-header">
            Listado de Productos
            <span class="float-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productoModal" @click="abrirModalCrear">
                <i class="fa fa-user-plus"></i> Nuevo Producto
            </button>
            </span>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered" id="tablaProductos">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Estado</th>
                        <th>Categoría</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="product in productos">
                        <td>{{product.id}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.state}}</td>
                        <td>{{product.category_id}} - {{product.cate_name}}</td>
                        <td>
                            <button class="btn btn-info btn-sm" type="button" data-toggle="tooltip" data-placement="left"
                                    title="Detalle" @click="detalle(product)"><i class="fa fa-info-circle"></i></button>
                            <button class="btn btn-primary btn-sm" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Editar" @click="abrirModalEditar(product)"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger btn-sm" type="button" data-toggle="tooltip"
                                    data-placement="right" title="Eliminar" @click="eliminar(product)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="productoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-user-plus"></i> {{titulo}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control" id="nombre" placeholder="Nombre (Ejm: Arroz)"
                                       required="" v-model="datoProducto.name">
                            </div>
                            <div class="form-group">
                                <label for="price">Precio</label>
                                <input type="number" class="form-control" id="price" placeholder="Precio" required=""
                                       v-model="datoProducto.price">
                            </div>
                            <div class="form-group">
                                <label for="status">Estado</label>
                                <select class="form-control" id="status" v-model="datoProducto.state">
                                    <option value="active">active</option>
                                    <option value="inactive">inactive</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="category">Categoría</label>
                                <select class="form-control" id="category" v-model="datoProducto.category_id">
                                    <option v-for="category in categorias" :value="category.id">{{category.name}}</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary" @click.prevent="crear" v-if="btnCrear">Crear Producto</button>
                        <button type="submit" class="btn btn-primary" @click.prevent="editar" v-if="btnEditar">Editar Producto</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Detalle   -->
        <div class="modal fade" id="modalDetalle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><i class="fas fa-info-circle"></i> Detalle del Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-striped">
                                <tbody>
                                <tr>
                                    <th scope="row">Nombre</th>
                                    <td>{{ info.name }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Precio</th>
                                    <td>{{ info.price }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Estado</th>
                                    <td>{{ info.state }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Categoría</th>
                                    <td>{{ info.category_id }} - {{ info.cate_name }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import datatable from 'datatables.net-bs4'
require('datatables.net-buttons/js/dataTables.buttons')
require('datatables.net-buttons/js/buttons.html5')
import print from 'datatables.net-buttons/js/buttons.print'
import jszip from 'jszip/dist/jszip'
import pdfMake from 'pdfmake/build/pdfmake'
import pdfFonts from 'pdfmake/build/vfs_fonts'
import swal from 'sweetalert';

pdfMake.vfs = pdfFonts.pdfMake.vfs;
window.JSZip = jszip
export default {
    mounted() {
        this.getProducto()
        this.getCategorias()
    },
    data() {
        return {
            categorias: [],
            productos: [],
            info: [],
            datoProducto: {name:'', price:'', state:'', category_id:''},
            titulo: '',
            btnCrear: false,
            btnEditar: false,
            idProducto: ''
        }
    },
    methods: {
        tabla() {
            this.$nextTick(() => {
                $('[data-toggle="tooltip"]').tooltip();
                $('#tablaProductos').DataTable().destroy()
                $('#tablaProductos').DataTable({
                    order: [[0,'desc']],
                    dom: "<'row'<'col-sm-12 mb-3 text-center'B>> <'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                    buttons: [
                        {
                            "extend" : "copyHtml5",
                            "text" : "Copiar",
                            "titleAttr" : "Copiar",
                            "className" : "btn btn-secondary"
                        },
                        {
                            "extend" : "excelHtml5",
                            "text" : "<i class='fas fa-file-excel'></i> Excel",
                            "titleAttr" : 'Exportar a Excel',
                            "className" : "btn btn-success"
                        },
                        {
                            "extend" : "pdfHtml5",
                            "text" : "<i class='fas fa-file-excel'></i> PDF",
                            "titleAttr" : "Exportar a PDF",
                            "className" : "btn btn-danger"
                        },
                        {
                            "extend" : "csvHtml5",
                            "text" : "<i class='fas fa-file-csv'></i> CSV",
                            "titleAttr" : "Exportar a CSV",
                            "className" : "btn btn-info"
                        },
                        {
                            "extend" : "print",
                            "text" : "<i class='fas fa-file-csv'></i> Imprimir",
                            "titleAttr" : "Imprimir archivo",
                            "className" : "btn btn-secondary"
                        }
                    ]
                });
            });
        },
        getCategorias() {
            axios.get('listar_categorias').then(res => {
                this.categorias = res.data
            });
        },
        getProducto() {
            axios.get('listar_productos').then(res => {
                this.productos = res.data
                this.tabla()
            });
        },
        crear() {
            axios.post('crear_producto', this.datoProducto).then(res => {
                this.datoProducto = {name:'', price:'', state:'', category_id:''}
                this.getProducto()
                this.getCategorias()
                $('#productoModal').modal('hide')
                swal("Felicidades!", "Producto creado correctamente!", "success");
            }).catch(function (error) {
                var array = Object.values(error.response.data.errors)
                array.forEach(element => swal(String(element)))
            });
        },
        abrirModalCrear() {
            this.datoProducto = {name:'', price:'', state:'', category_id:''}
            this.titulo = ' Crear producto'
            this.btnCrear = true
            this.btnEditar = false
        },
        abrirModalEditar(datos) {
            this.datoProducto = {name:datos.name, price:datos.price, state:datos.state, category_id:datos.category_id}
            this.titulo = ' Editar producto'
            this.btnEditar = true
            this.btnCrear = false
            this.idProducto = datos.id
            $('#productoModal').modal('show')
        },
        detalle(datos) {
            this.info = datos
            $('#modalDetalle').modal('show')
        },
        editar() {
            axios.put('editar_producto/' + this.idProducto, this.datoProducto).then(res => {
                this.idProducto = ''
                this.getProducto()
                $('#productoModal').modal('hide')
                swal("Felicidades!", "Producto editado  correctamente!", "success");
            }).catch(function (error) {
                var array = Object.values(error.response.data.errors)
                array.forEach(element => swal(String(element)))
            });
        },
        eliminar(datos) {
            swal({
                title: "¿Está seguro de eliminar " + datos.name + "?",
                text: "Una vez eliminado, se eliminará permanentemente!",
                icon: "warning",
                buttons: {
                    cancel: "Cerrar",
                    ok: "Si quiero"
                },
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        axios.delete('eliminar_producto/' + datos.id).then(res => {
                            this.getProducto()
                            swal("Producto eliminado correctamente!", {icon: "success"});
                        }).catch(function (error) {
                            var array = Object.values(error.response.data.errors)
                            array.forEach(element => swal(String(element)))
                        });                        }
                });
        }
    }
}
</script>
